<%- include('partials/header.ejs'); -%>

<main>
    <h2>On this site you can find my notes about the books I read. Have Fun!</h2><br><br>

    <form action="/sort" method="post" class="radio-buttons" id="sort-form">
        <div>
            <label for="sort-by-date">Sort By Date</label>
        <input type="radio" id="sort-by-date" name="sortOption" value="date" onchange="document.getElementById('sort-form').submit()"><br>
        </div>
        <div>
            <label for="sort-by-point">Sort By Point</label>
        <input type="radio" id="sort-by-point" name="sortOption" value="point" onchange="document.getElementById('sort-form').submit()"><br>
        </div>
        
    </form><br><br>

    <% for(let item of bookInfo){ %>
    <section id="book-note<%= item.id %>">
        <div class="book-notes">
            <div class="book-img"><img src="https://covers.openlibrary.org/b/isbn/<%=item.isbnno%>-L.jpg" alt="Book Image" width="120" height="200"></div>
            <div class="book-info">
                <div class="del-edit">
                    <form action="/delete" method="post">
                        <button class="delete-button" name="deletedBookNote" value="<%= item.id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="rgba(255, 155, 23, 1" class="bi bi-trash3-fill svg-class" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                            </svg>
                        </button>
                    </form>
                    
                    <div class="book-title"><%= item.title %></div>

                        <button class="edit-button" onclick="handler(this)" 
                        data-id="<%= item.id %>" 
                        data-title="<%= item.title %>"
                        data-date="<%= item.readdate %>"
                        data-point="<%= item.bookpoint %>"
                        data-summary="<%= item.summary %>"
                        data-url="<%= item.url %>"
                        name="editNote" value="<%= item.id %>">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="rgba(255, 155, 23, 1)" class="bi bi-pencil-fill svg-class" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>
                        </button>
                    
                    
                </div>
                
                <div class="date-point">
                    <div class="date">READ DATE: <%= item.readdate %></div>
                    <div class="point">MY POINT: <%= item.bookpoint %></div>
                </div>
                <div class="summary">
                    <p>
                        <%= item.summary %>
                    </p>
                    <a href="<%= item.url%>">Inspect Book</a>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <% } %>

    <button class="add-button" type="button" onclick="document.getElementById('modal').style.display='block'">Add New Note!</button>
</main>

<div id="modal" class="modal-class">
    <div class="modal-content">
        <span onclick="document.getElementById('modal').style.display='none'" class="close-button close-display-topright">&times;</span>
        
        <form class="add-book" action="/add" method="post">
            <label for="isbn">ISBN:</label>
            <input type="number" id="isbn" name="isbnNo" required><br><br>
            <label for="title">Title:</label>
            <input type="text" id="title" name="bookTitle" required><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="read-date" required><br><br>
            <label for="point">Point:</label>
            <input type="number" id="point" name="read-point" required><br><br>
            <label for="summary">Summary:</label>
            <textarea type="text" id="summary" name="read-sum" required rows="10"> </textarea><br><br>
            <label for="link">Book Link:</label>
            <input type="url" id="link" name="book-link" required><br><br>
            <input class="newBookButton" type="submit" value="Add">
          </form>
    </div>
  </div>

  <div id="edit-modal" class="modal-class">
    <div class="modal-content">
        <span onclick="document.getElementById('edit-modal').style.display='none'" class="close-button close-display-topright">&times;</span>

        <form class="edit-book" action="/edit" method="post">
            <input type="hidden" id="update-id" name="updatedItemId" >
            <label for="update-title">Title:</label>
            <input type="text" id="update-title" name="updatedBookTitle" required><br><br>
            <label for="update-date">Date:</label>
            <input type="date" id="update-date" name="updatedread-date" required><br><br>
            <label for="update-point">Point:</label>
            <input type="number" id="update-point" name="updatedread-point" required><br><br>
            <label for="update-summary">Summary:</label>
            <textarea type="text" id="update-summary" name="updatedread-sum"  required rows="10"> </textarea><br><br>
            <label for="update-link">Book Link:</label>
            <input type="url" id="update-link" name="updatedbook-link" required><br><br>
            <input class="newBookButton" type="submit" value="Edit">
          </form>

    </div>
  </div>

  <script>
    function handler(button){
        
        document.getElementById("update-id").value = button.dataset.id;
        document.getElementById("update-title").value = button.dataset.title;
        document.getElementById("update-date").value = button.dataset.date;
        document.getElementById("update-point").value = button.dataset.point;
        document.getElementById("update-summary").value = button.dataset.summary;
        document.getElementById("update-link").value = button.dataset.url;

        document.getElementById('edit-modal').style.display='block'
    };
  </script>

<%- include('partials/footer.ejs'); -%>